name: documentation
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "dev"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - run: python -m pip install pdoc3
      - run: python -m pip install --editable .
      - run: python -m pdoc -o docs --html src/pyspecan --force
      - uses: actions/upload-artifact@v4
        with:
          name: docs_data
          path: docs/
          if-no-files-found: warn
          overwrite: true
